<div class="container">
    <div class="sub-container">
        <div class="min-container2">
            <h3 style="color:  hsl(0, 0%, 100%);padding-left: 2.3rem;">calc</h3>
            <!-- <button></button> -->
        </div>
        <div class="min-container1">
            <input type="text">
        </div>
        <div class="grid">
            <div class="numbers">
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button style="color: white; background-color: hsl(224, 28%, 35%);">DEL</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>+</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>-</button>
                <button>.</button>
                <button>0</button>
                <button>/</button>
                <button>x</button>
                <button class="Reset1">Reset</button>
                <button class="Reset2">=</button>
            </div> 
        </div>
       

    </div>
   
</div>

