<div class="container">
    <div class="sub-container">
        <div class="min-container2">
            <h3 style="color:  hsl(0, 0%, 100%);padding-left: 2.3rem;">calc</h3> 
            <label class="switch">
                <input type="checkbox" (change)="toggleTheme()" [checked]="isDarkThemeActive">
                <span class="slider"></span>
              </label>
        </div>
        <div class="min-container1">
            <div class="display">{{ displayValue }}</div>
            <!-- <input type="text"> -->
        </div>
            <div class="numbers">
                <button (click)="appendNumber('7')">7</button>
                <button (click)="appendNumber('8')">8</button>
                <button (click)="appendNumber('9')">9</button>
                <button style="color: white; background-color: hsl(224, 28%, 35%);"(click)="onDelete()">DEL</button>
                <button (click)="appendNumber('4')">4</button>
                <button (click)="appendNumber('5')">5</button>
                <button (click)="appendNumber('6')">6</button>
                <button (click)="setOperation('+')">+</button>
                <button (click)="appendNumber('1')">1</button>
                <button (click)="appendNumber('2')">2</button>
                <button (click)="appendNumber('3')">3</button>
                <button (click)="setOperation('-')">-</button>
                <button (click)="appendDecimal()">.</button>
                <button  (click)="appendNumber('0')">0</button>
                <button (click)="setOperation('/')">/</button>
                <button (click)="setOperation('*')">x</button>
                <button class="Reset1" (click)="clear()">Reset</button>
                <button class="Reset2"  (click)="calculateResult()">=</button>
            </div> 
        </div>
   
</div>

