input[type="text"]{
    border-radius: 5px;
    width: 80%;
    height: 10vh;
    border: none;
    background-color:   hsl(224, 36%, 15%);
    color: white;
    font-size: x-large;
    font-weight: 700;
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
}
.sub-container{
    width: 30%;
    height: 70vh;
    border: 1px solid red;
    margin-top: 5rem;
    
}
.min-container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .min-container2{

} */
 .numbers{
    margin-top: 1rem;
    width: 80%;
    height: 45vh;
    background-color:hsl(224, 36%, 15%);
    margin-left: 2.5rem;
    border-radius: 5px;
    /* gap: 10px 10px; */
    padding-top: 0.5rem;
 }
 button{
    
    background-color: white;
    width: 4rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    padding: 0 5px;
    font-weight: 700;
    font-size: x-large;
    cursor: pointer;
    margin:6px 8px;
 }
 .Reset1{
    width: 45%;
    /* height: 3rem; */
    color: white;
    background-color:  hsl(224, 28%, 35%);
 }
 .Reset2{
    width: 45%;
    /* height: 3rem; */
    color: white;
    background-color: orangered;
 }
 /* .grid{
     display: flex;
     gap: 20px 20px;
 } */