/* input[type="text"]{
    border-radius: 5px;
    width: 80%;
    height: 10vh;
    border: none;
    background-color:   hsl(224, 36%, 15%);
    color: white;
    font-size: x-large;
    font-weight: 700;
    text-align: right;
} */
.container{
   display: flex;
   align-items: center;
   justify-content: center;
}
.sub-container{
    width: 30%;
    height: 70vh;
    /* border: 1px solid red; */
    margin-top: 5rem;
    
}
.min-container1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.min-container2{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 .numbers{
    margin-top: 1rem;
    width: 80%;
    height: 45vh;
    background-color:hsl(224, 36%, 15%);
    margin-left: 2.5rem;
    border-radius: 5px;
    /* gap: 10px 10px; */
    padding-top: 0.5rem;
 }
 button{
    
    background-color: white;
    width: 4rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    padding: 0 5px;
    font-weight: 700;
    font-size: x-large;
    cursor: pointer;
    margin:6px 8px;
 }
 .Reset1{
    width: 45%;
    /* height: 3rem; */
    color: white;
    background-color:  hsl(224, 28%, 35%);
 }
 .Reset2{
    width: 45%;
    /* height: 3rem; */
    color: white;
    background-color: orangered;
 }
 .display {
    border-radius: 5px;
    width: 80%;
    height: 10vh;
    border: none;
    background-color:   hsl(224, 36%, 15%);
    color: white;
    font-size: x-large;
    font-weight: 700;
    text-align: right;
}

/* Switcher */

/* Basic switcher container */
.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
   margin-right: 2.5rem;
 }
 
 /* Hide the default checkbox input */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* Create the slider background */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   transition: 0.4s;
   border-radius: 34px;
 }
 
 /* The circle inside the switch */
 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   transition: 0.4s;
   border-radius: 50%;
 }
 
 /* When the checkbox is checked, change the background */
 input:checked + .slider {
   background-color:  #ccc;
 }
 
 /* Move the circle to the right when the switch is ON */
 input:checked + .slider:before {
   transform: translateX(26px);
 }
 
 /* Optional: Add shadows to make it look more realistic */
 .slider {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
 
/* Darkmode */
.dark-theme .container{
   --background-color:  hsl(268, 75%, 9%);
   --text-color: hsl(52, 100%, 62%);
 }
