/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    background-color: hsl(222, 26%, 31%);
    font-family: League Spartan;
}
body.theme-1 {
    background-color: #f0f0f0;
    color: #000;
  }
  
  body.theme-2 {
    background-color: #dcdcdc;
    color: #333;
  }
  
  body.theme-3 {
    background-color: #bfbfbf;
    color: #666;
  }
  